@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

html {
  font-family: "Noto Sans JP", sans-serif, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Verdana, Roboto, "Droid Sans", "Noto Sans KR", "Noto Sans SC", "Noto Sans TC", sans-serif;
}

body {
  line-height: 1;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.l-header {
  display: flex;
  justify-content: center;
}
.l-header__top {
  display: flex;
  width: 1000px;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}
.l-header__top--left {
  display: flex;
}

.l-headerInner {
  display: flex;
  flex-direction: column;
}

.l-main {
  padding: 40px 20px;
}

.l-footer {
  background: #111;
  color: #fff;
  padding: 40px 0;
}

.l-footer__nav {
  display: flex;
  gap: 16px;
}

.l-footer a {
  color: #fff;
  text-decoration: none;
}

.l-footer__copy {
  margin-top: 16px;
  font-size: 12px;
}

.c-btn__shadow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 118px;
  height: 28px;
  font-size: 14px;
  font-weight: 700;
  color: #4b91ca;
  background-color: #FFF;
  border-radius: 60px;
  border: 1px solid #4b91ca;
  box-shadow: 3px 3px 0 #4b91ca;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.c-btn__shadow:hover {
  box-shadow: none;
  transform: translate(3px, 3px);
  text-decoration: underline;
}

.c-card__event {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 290px;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(77, 77, 77, 0.3);
  background: #F5F5F5;
}
.c-card__img--event {
  width: 100%;
  height: 170px;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
.c-card__tag {
  font-size: 11px;
  font-weight: 700;
  color: #FFF;
  background-color: #4d4d4d;
  border-radius: 30px;
  padding: 2px 11px;
  margin-top: 10px;
  align-self: flex-start;
}
.c-card__title {
  font-size: 12px;
  color: #4d4d4d;
  margin-top: 8.4px;
}
.c-card__period {
  height: 18px;
  font-size: 12px;
  line-height: 18px;
  color: #808080;
  margin-top: 4.8px;
}

.c-globalNav {
  background-color: #d5e6ed;
  border-radius: 9999px;
  padding: 9px 0;
}
.c-globalNav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.c-globalNav__item {
  text-align: center;
  position: relative;
  flex: 1;
}
.c-globalNav__item::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 15px;
  background-color: #666;
}
.c-globalNav__item:last-child::after {
  display: none;
}
.c-globalNav__text {
  font-size: 15px;
  font-weight: 600;
  color: #4d4d4d;
}
.c-globalNav__text:hover {
  text-decoration: underline;
}

.c-logo {
  font-size: 24px;
  font-weight: bold;
}

.c-title__en {
  color: #4d4d4d;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.c-title__jp {
  color: #4d4d4d;
  font-size: 14px;
}

.c-utilityLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.c-utilityLink:hover {
  color: #4b91ca;
}
.c-utilityLink:hover svg.feather-globe, .c-utilityLink:hover svg.feather-map-pin, .c-utilityLink:hover svg.feather-menu, .c-utilityLink:hover .c-linkText__utility {
  color: inherit;
}

.c-linkText {
  font-size: 11px;
  line-height: 1.2;
  color: #808080;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
}
.c-linkText:hover {
  color: #4b91ca;
  text-decoration: underline;
}
.c-linkText__utility {
  font-size: 10px;
  line-height: 1;
  color: #4d4d4d;
}
.c-linkText__arrow {
  font-size: 1.5em;
}

.c-relatedSite {
  display: flex;
  align-items: center;
  text-decoration: none;
}

svg.feather-chevron-right {
  width: 20px;
  height: 20px;
  stroke-width: 1.5px;
  color: #4b91ca;
}

svg.feather-globe,
svg.feather-menu {
  width: 28px;
  height: 28px;
  color: #4d4d4d;
}

svg.feather-map-pin {
  width: 28px;
  height: 28px;
  color: #4d4d4d;
}

.c-icon {
  color: #fff;
  stroke-width: 3;
}
.c-icon--clock {
  width: 38px;
  height: 38px;
  padding: 5px;
  color: #fff;
  stroke-width: 2;
  background-color: #4b91ca;
  border-radius: 50%;
}

.c-text--11px {
  font-size: 11px;
  color: #4d4d4d;
}
.c-text--13px {
  font-size: 13px;
  color: #4d4d4d;
}
.c-text--15px {
  font-size: 15px;
  color: #4d4d4d;
}

.c-text__keyword {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 3.5px 6.5px;
  width: 72px;
  height: 32px;
  font-size: 13px;
  color: #4d4d4d;
  font-weight: 600;
  background: #ebf4f9;
  border-radius: 35px;
  text-decoration: none;
  letter-spacing: -1.2px;
}
.c-text__keyword:hover {
  color: #FFF;
  font-weight: 600;
  background: #4b91ca;
  text-decoration: underline;
}

.c-search__input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 16px;
  padding: 4px 30px 4px 16px;
}
.c-search__input::-moz-placeholder {
  font-size: 16px;
  font-weight: 600;
  color: #b9b9b9;
}
.c-search__input::placeholder {
  font-size: 16px;
  font-weight: 600;
  color: #b9b9b9;
}
.c-search__button {
  border: none;
  position: absolute;
  right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #4b91ca;
  cursor: pointer;
  transition: transform 0.4s ease;
}
.c-search__button:hover {
  transform: rotate(90deg);
}

/* =========================
  ラッパー（画面幅いっぱい）
========================= */
.p-hero-wrap {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

/* =========================
  Swiper本体
========================= */
.p-hero {
  position: relative;
  width: 100%;
}

.p-hero.swiper {
  overflow: visible;
}

/* =========================
  スライド
========================= */
.p-hero .swiper-wrapper {
  align-items: center;
}

.p-hero .swiper-slide {
  width: 437px;
  flex-shrink: 0;
}

/* 画像サイズ固定 */
.p-hero .swiper-slide img {
  display: block;
  width: 437px;
  height: 318px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* =========================
  矢印（共通）
========================= */
.p-hero-wrap .swiper-button-prev,
.p-hero-wrap .swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  z-index: 10;
  background: transparent;
  border: none;
  padding: 0;
}

/* Swiperデフォルト矢印を消す */
.p-hero-wrap .swiper-button-prev::after,
.p-hero-wrap .swiper-button-next::after {
  display: none;
}

.p-hero-wrap .swiper-navigation-icon {
  display: none;
}

/* =========================
  自作矢印
========================= */
.p-hero-wrap .swiper-button-prev::before,
.p-hero-wrap .swiper-button-next::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-top: 3px solid #e7a576;
  border-right: 3px solid #e7a576;
}

/* 左 */
.p-hero-wrap .swiper-button-prev {
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: -260px;
}
.p-hero-wrap .swiper-button-prev::before {
  transform: rotate(-135deg);
}

/* 右 */
.p-hero-wrap .swiper-button-next {
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 260px;
}
.p-hero-wrap .swiper-button-next::before {
  transform: rotate(45deg);
}

/* =========================
  ページネーション
========================= */
.p-hero-wrap .swiper-pagination {
  position: relative;
  margin-top: 24px;
  text-align: center;
}

.p-hero-wrap .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 6px;
  border-radius: 50%;
  border: 1px solid #005bac;
  background: #fff;
  opacity: 1;
}

.p-hero-wrap .swiper-pagination-bullet-active {
  background: #005bac;
}

.p-event {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-event__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}
.p-event__card--scroll {
  width: 1000px;
  overflow-x: auto;
  padding-bottom: 8px;
}
.p-event__cardList {
  display: flex;
  gap: 20px;
  min-width: -moz-max-content;
  min-width: max-content;
}
.p-event__cardList--item {
  padding: 5px;
  flex-shrink: 0;
}

.p-eventTitle__wrap {
  display: flex;
  flex-direction: column;
}

.p-eventBtn__wrap {
  display: flex;
  gap: 10px;
}

.p-event__list,
.p-shop__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 24px;
}

.p-header__links {
  display: flex;
}
.p-header__utility {
  display: flex;
  justify-content: flex-end;
  gap: 19px;
}
.p-header__links {
  gap: 25px;
}

.p-infoBar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-infoBar__inner--row {
  display: flex;
}
.p-infoBar__time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.p-infoBar__time--label {
  font-size: 17px;
  color: #4d4d4d;
}
.p-infoBar__time--timeMain {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: #4d4d4d;
}

.p-search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.p-search__form {
  position: relative;
  display: flex;
  width: 244px;
  align-items: center;
  background: #fff;
  border-radius: 35px;
  border: 2px solid #4b91ca;
  padding: 3px;
}
.p-search__keyword {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.p-search__keywordList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.p-search__keywordList--item {
  width: 72px;
  height: 32px;
}

.u-mt--4 {
  margin-top: 4px;
}
.u-mt--15 {
  margin-top: 15px;
}

.u-mr--5 {
  margin-right: 5px;
}
.u-mr--50 {
  margin-right: 50px;
}

.u-ml--20 {
  margin-left: 20px;
}
.u-ml--50 {
  margin-left: 50px;
}

.u-bold--700 {
  font-weight: 700;
}