@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

html {
  font-family: "Noto Sans JP", sans-serif, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Verdana, Roboto, "Droid Sans", "Noto Sans KR", "Noto Sans SC", "Noto Sans TC", sans-serif;
}

body {
  font-size: 16px;
}

a {
  text-decoration: none;
}

.l-header {
  display: flex;
  justify-content: center;
}
.l-header__top {
  display: flex;
  width: 1000px;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}
.l-header__top--left {
  display: flex;
}

.l-headerInner {
  display: flex;
  flex-direction: column;
}

.l-main {
  padding: 40px 20px;
}

.l-footer {
  width: 100%;
}

.c-btn__wrap {
  display: flex;
  gap: 10px;
}
.c-btn__shadow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 118px;
  height: 28px;
  font-size: 14px;
  font-weight: 700;
  color: #4b91ca;
  background-color: #FFF;
  border-radius: 60px;
  border: 1px solid #4b91ca;
  box-shadow: 3px 3px 0 #4b91ca;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.c-btn__shadow:hover {
  box-shadow: none;
  transform: translate(3px, 3px);
  text-decoration: underline;
}

.c-card__scroll {
  display: flex;
  width: 1000px;
  gap: 25px;
  overflow-x: auto;
  padding-bottom: 25px;
}
.c-card__item {
  flex: 0 0 280px;
  padding: 5px;
}
.c-card__body {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 280px;
  height: 100%;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(77, 77, 77, 0.3);
  background: #F5F5F5;
}
.c-card__body:hover {
  background: #eaf4fa;
}
.c-card__ribbon {
  font-size: 19px;
  font-weight: bold;
  line-height: 1;
  color: #FFF;
  position: absolute;
  left: -15px;
  top: 10px;
  background: linear-gradient(to right, #75c0df, #ace550);
  padding: 9.5px 9.5px 9.5px 14px;
  z-index: 1;
}
.c-card__ribbon::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  border-style: solid;
  border-width: 0 15px 10px 0;
  border-color: transparent #a6c674 transparent transparent;
}
.c-card__imgWrap {
  position: relative;
  width: 100%;
}
.c-card__img--large {
  width: 100%;
  height: 170px;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #dfdfdf;
}
.c-card__img--square {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #dfdfdf;
}
.c-card__badge {
  position: absolute;
  left: 20px;
  min-width: 63px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
  color: #fff;
  background: #f2ad75;
  padding: 4.2px 7px;
}
.c-card__info {
  display: flex;
  flex-direction: column;
}
.c-card__tag {
  font-size: 11px;
  font-weight: bold;
  line-height: 1.1;
  color: #FFF;
  background: #4d4d4d;
  border-radius: 999px;
  padding: 2px 11px;
  align-self: flex-start;
}
.c-card__tag--large {
  min-width: 105px;
  font-size: 11px;
  font-weight: bold;
  color: #FFF;
  background: #6D94BD;
  border-radius: 30px;
  padding: 4.4px 6px;
  line-height: 1.2;
  text-align: center;
}
.c-card__floor {
  font-size: 12px;
  color: #808080;
}
.c-card__title {
  font-size: 12px;
  font-weight: 500;
  color: #4d4d4d;
}
.c-card__name {
  font-size: 12px;
  font-weight: 500;
  color: #4d4d4d;
}
.c-card__period {
  height: 18px;
  font-size: 12px;
  line-height: 1.6;
  font-weight: 500;
  color: #808080;
}

.c-globalNav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  background-color: #d5e6ed;
  border-radius: 9999px;
}
.c-globalNav__item {
  text-align: center;
  position: relative;
  flex: 1;
}
.c-globalNav__item::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 15px;
  background-color: #666;
}
.c-globalNav__item:last-child::after {
  display: none;
}
.c-globalNav__text {
  display: flex;
  justify-content: center;
  line-height: 1.2;
  font-size: 15px;
  font-weight: 500;
  font-feature-settings: "palt";
  color: #4d4d4d;
}
.c-globalNav__text:hover {
  text-decoration: underline;
}

.c-logo__link {
  display: block;
  width: 213px;
  height: 37px;
}
.c-logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-sectionTitle__wrap {
  display: flex;
  flex-direction: column;
}
.c-sectionTitle__en {
  color: #4d4d4d;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  line-height: 1.1;
}
.c-sectionTitle__jp {
  color: #4d4d4d;
  font-size: 14px;
  line-height: 1.1;
}

.c-utilityLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.c-utilityLink:hover {
  color: #4b91ca;
}
.c-utilityLink:hover svg.feather-globe, .c-utilityLink:hover svg.feather-map-pin, .c-utilityLink:hover svg.feather-menu, .c-utilityLink:hover .c-linkText__utility {
  color: inherit;
}

.c-linkText {
  font-size: 11px;
  line-height: 1.2;
  color: #808080;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
}
.c-linkText:hover {
  color: #4b91ca;
  text-decoration: underline;
}
.c-linkText__utility {
  font-size: 10px;
  line-height: 1;
  color: #4d4d4d;
}
.c-linkText__arrow {
  font-size: 1.5em;
}

.c-relatedSite {
  display: flex;
  align-items: center;
  text-decoration: none;
}

svg.feather-chevron-right {
  width: 20px;
  height: 20px;
  stroke-width: 1.5px;
  color: #4b91ca;
}

svg.feather-globe,
svg.feather-menu {
  width: 28px;
  height: 28px;
  color: #4d4d4d;
}

svg.feather-map-pin {
  width: 28px;
  height: 28px;
  color: #4d4d4d;
}

.c-icon--clock {
  width: 38px;
  height: 38px;
  padding: 5px;
  color: #fff;
  stroke-width: 2;
  background-color: #4b91ca;
  border-radius: 50%;
}

.c-icon--search {
  width: 20px;
  height: 20px;
  color: #fff;
  stroke-width: 3;
  border-radius: 50%;
}

.c-icon--shopNews {
  width: 45px;
  height: 45px;
  fill: var(--icon-color);
}

.c-text--11px {
  font-size: 11px;
  color: #4d4d4d;
}
.c-text--13px {
  font-size: 13px;
  color: #4d4d4d;
}
.c-text--15px {
  font-size: 15px;
  color: #4d4d4d;
}

.c-text__keyword {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 3.5px 6.5px;
  width: 72px;
  height: 32px;
  font-size: 13px;
  color: #4d4d4d;
  font-weight: 600;
  background: #ebf4f9;
  border-radius: 35px;
  text-decoration: none;
  letter-spacing: -1.2px;
}
.c-text__keyword:hover {
  color: #FFF;
  font-weight: 600;
  background: #4b91ca;
  text-decoration: underline;
}

.c-search__input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 16px;
  padding: 4px 30px 4px 16px;
}
.c-search__input::-moz-placeholder {
  font-size: 16px;
  font-weight: 600;
  color: #b9b9b9;
}
.c-search__input::placeholder {
  font-size: 16px;
  font-weight: 600;
  color: #b9b9b9;
}
.c-search__button {
  border: none;
  position: absolute;
  right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #4b91ca;
  cursor: pointer;
  transition: transform 0.4s ease;
}
.c-search__button:hover {
  transform: rotate(90deg);
}

.c-tab__container {
  width: 100%;
  margin-top: 20px;
}
.c-tab__buttons {
  display: flex;
  gap: 10px;
}
.c-tab__button {
  flex: 1;
  text-align: center;
  color: #4b91ca;
  font-weight: bold;
  line-height: 1.2;
  padding: 11.2px;
  background-color: #FFF;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}
.c-tab__button.is-active {
  color: #FFF;
  background-color: #4b91ca;
}
.c-tab__content {
  display: none;
  border-top: 2px solid #4b91ca;
}
.c-tab__content.is-active {
  display: block;
  animation: fade 1s ease;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.p-hero-wrap {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.p-hero {
  position: relative;
  width: 100%;
}

.p-hero.swiper {
  overflow: visible;
}

.p-hero .swiper-wrapper {
  align-items: center;
}

.p-hero .swiper-slide {
  width: 473px;
  flex-shrink: 0;
}

.p-hero .swiper-slide img {
  display: block;
  width: 473px;
  height: 318px;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-hero-wrap .swiper-button-prev,
.p-hero-wrap .swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  background: transparent;
  border: none;
  padding: 0;
}

/* Swiperデフォルト矢印を消す */
.p-hero-wrap .swiper-button-prev::after,
.p-hero-wrap .swiper-button-next::after {
  display: none;
}

.p-hero-wrap .swiper-navigation-icon {
  display: none;
}

.p-hero-wrap .swiper-button-prev::before,
.p-hero-wrap .swiper-button-next::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-top: 4px solid #e7a576;
  border-right: 4px solid #e7a576;
}

/* 左 */
.p-hero-wrap .swiper-button-prev {
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: -243px;
}
.p-hero-wrap .swiper-button-prev::before {
  transform: rotate(-135deg);
}

/* 右 */
.p-hero-wrap .swiper-button-next {
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 243px;
}
.p-hero-wrap .swiper-button-next::before {
  transform: rotate(45deg);
}

.p-hero-wrap .swiper-pagination {
  position: relative;
  margin-top: 27px;
  padding: 10px 0;
  text-align: center;
}

.p-hero-wrap .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin-left: 0 !important;
  margin-right: 15px !important;
  border-radius: 50%;
  border: 1px solid #4b91ca;
  background: #fff;
  opacity: 1;
}
.p-hero-wrap .swiper-pagination-bullet:last-child {
  margin-right: 0 !important;
}

.p-hero-wrap .swiper-pagination-bullet-active {
  background: #4b91ca;
}

.p-event {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-event__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  z-index: 1;
}

.p-newShop {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-newShop__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}
.p-newShop__card {
  gap: 20px;
}
.p-newShop__card--tab {
  width: 1000px;
  min-height: 45px;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
  padding: 11.2px;
  background-color: #4b91ca;
  border-radius: 10px 10px 0 0;
}
.p-newShop__card--scroll {
  width: 1000px;
  overflow-x: auto;
  padding-bottom: 25px;
}
.p-newShop__cardList {
  display: flex;
  gap: 20px;
  min-width: -moz-max-content;
  min-width: max-content;
}
.p-newShop__cardItem {
  flex-shrink: 0;
}
.p-newShop__card {
  display: flex;
  width: 450px;
  height: 185px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(77, 77, 77, 0.3);
  background: #F5F5F5;
}
.p-newShop__imgWrap {
  width: 153px;
  height: 153px;
}
.p-newShop__infoWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.p-popupShop {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-popupShop__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}
.p-popupShop__card--scroll {
  width: 1000px;
  overflow-x: auto;
  padding-bottom: 8px;
}
.p-popupShop__cardList {
  display: flex;
  gap: 20px;
  min-width: -moz-max-content;
  min-width: max-content;
}
.p-popupShop__cardItem {
  flex-shrink: 0;
}
.p-popupShop__card {
  display: flex;
  width: 450px;
  height: 185px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(77, 77, 77, 0.3);
  background: #F5F5F5;
  gap: 20px;
}
.p-popupShop__imgWrap {
  width: 153px;
  height: 153px;
}
.p-popupShop__infoWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.p-shopNews {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-shopNews__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}
.p-shopNews__inner {
  display: flex;
  justify-content: center;
  width: 1000px;
}
.p-shopNews__category {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.p-shopNews__category:hover {
  text-decoration: underline;
  cursor: pointer;
}
.p-shopNews__categoryTitle {
  display: flex;
  align-items: center;
  height: 41.6px;
  margin-bottom: 8px;
  font-weight: bold;
  color: #808080;
  text-align: center;
}
.p-shopNews__categoryIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: var(--circle-color);
  border-radius: 50%;
}

.p-shopNews__category::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid var(--circle-color);
  opacity: 0;
}

.p-shopNews__category.is-active::after {
  opacity: 1;
}

.p-trend {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-trend__swiper {
  width: 100%;
  overflow: hidden;
}
.p-trend__swiper .swiper-slide {
  width: 310px;
}
.p-trend__swiperWrapper {
  display: flex;
  transition-timing-function: linear;
}

.p-header__links {
  display: flex;
}
.p-header__utility {
  display: flex;
  justify-content: flex-end;
  gap: 19px;
}
.p-header__links {
  gap: 25px;
}
.p-header__show {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-bottom: 2px solid #a2d6e4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 1000;
}
.p-header__show.is-show {
  transform: translateY(0);
  opacity: 1;
}
.p-header__showInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  height: 65px;
  background-color: #FFF;
}

.p-infoBar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-infoBar__inner--row {
  display: flex;
}
.p-infoBar__time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.p-infoBar__time--label {
  font-size: 17px;
  color: #4d4d4d;
}
.p-infoBar__time--timeMain {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: #4d4d4d;
}

.p-search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.p-search__form {
  position: relative;
  display: flex;
  width: 244px;
  align-items: center;
  background: #fff;
  border-radius: 35px;
  border: 2px solid #4b91ca;
  padding: 3px;
}
.p-search__keyword {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.p-search__keywordList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.p-search__keywordList--item {
  width: 72px;
  height: 32px;
}

.p-recommend__wrap {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.p-recommend__item {
  display: block;
  width: 242px;
  height: 73px;
  border-radius: 10px;
  overflow: hidden;
}
.p-recommend__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-announce {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #a2d6e4;
}
.p-announce__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}
.p-announce__tabs {
  display: flex;
  width: 1000px;
  gap: 10px;
  border-bottom: 2px solid #4b91ca;
}
.p-announce__tab {
  flex: 1;
  text-align: center;
  cursor: pointer;
  color: #FFF;
  font-weight: bold;
  line-height: 1.2;
  padding: 11.2px;
  background-color: #4b91ca;
  border-radius: 10px 10px 0 0;
}
.p-announce__news {
  width: 1000px;
}
.p-announce__newsItem {
  display: flex;
  width: 100%;
  gap: 16px;
  padding: 20px;
  border-bottom: 1px solid #FFF;
  align-items: center;
}
.p-announce__newsTag {
  min-width: 135px;
  font-size: 15px;
  font-weight: bold;
  color: #97c387;
  background: #FFF;
  border-radius: 30px;
  padding: 3.75px;
  line-height: 1.5;
  text-align: center;
}
.p-announce__newsDate {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: #4d4d4d;
}
.p-announce__newsTitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #4d4d4d;
}

.p-areaInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-areaInfo__cardList {
  display: grid;
  width: 1000px;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  justify-content: center;
}
.p-areaInfo__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: #7dc1e8;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  padding-bottom: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.p-areaInfo__card:hover {
  box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.2);
}
.p-areaInfo__card:hover .p-areaInfo__title {
  text-decoration: underline;
}
.p-areaInfo__title {
  display: flex;
  align-items: center;
  height: 87.1875px;
  padding: 15px;
  font-size: 22px;
}
.p-areaInfo__circle {
  width: 223px;
  height: 223px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 6px 0 rgba(77, 77, 77, 0.3);
}
.p-areaInfo__circle .p-areaInfo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-areaInfo__subtitle {
  font-size: 27px;
  color: #2893cf;
  margin-bottom: 21.6px;
}
.p-areaInfo__links {
  display: flex;
  gap: 30px;
}
.p-areaInfo__link {
  display: block;
  width: 313px;
  height: 101px;
  border: 1px solid #4d4d4d;
}
.p-areaInfo__link .p-areaInfo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-bg__blue {
  background-color: #a2d6e4;
  overflow: hidden;
}

.p-bg__decoWrap {
  width: 1000px;
  position: relative;
  margin: 0 auto;
  pointer-events: none;
}

.p-bg__deco--1 {
  width: 460px;
  position: absolute;
  top: 155px;
  left: -140px;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-bg__deco--2 {
  width: 248px;
  position: absolute;
  top: -45px;
  right: -140px;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-footer__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px 0;
  background: #2893cf;
}
.p-footer__topInner {
  display: flex;
  width: 1000px;
  align-items: center;
  gap: 40px;
}
.p-footer__logo {
  display: block;
  width: 102px;
  height: 61px;
}
.p-footer__logoImg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-footer__topNav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.p-footer__navTitle {
  display: inline-block;
  font-size: 16px;
  color: #FFF;
  border-bottom: 2px solid #FFF;
  padding: 0 3px;
  font-feature-settings: "palt";
  font-weight: 500;
}
.p-footer__navList {
  display: flex;
  align-items: center;
  gap: 20px;
}
.p-footer__navLink {
  font-size: 14px;
  color: #FFF;
  font-feature-settings: "palt";
  font-weight: 500;
}
.p-footer__navLink:hover {
  text-decoration: underline;
}
.p-footer__navLink::before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  border-top: 1px solid #FFF;
  border-right: 1px solid #FFF;
  transform: rotate(45deg) translateY(-2px);
  margin-right: 8px;
}
.p-footer__btm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #4d4d4d;
  padding: 10px 0;
}
.p-footer__btmList {
  display: flex;
  align-items: center;
  gap: 28px;
}
.p-footer__btmLink {
  font-size: 14px;
  color: #FFF;
  font-feature-settings: "palt";
  font-weight: 500;
}
.p-footer__btmLink:hover {
  text-decoration: underline;
}
.p-footer__btmTitle {
  font-size: 14px;
  color: #FFF;
  font-feature-settings: "palt";
  font-weight: 500;
  margin-top: 4.2px;
}

.u-mt--4 {
  margin-top: 4px;
}
.u-mt--4d8 {
  margin-top: 4.8px;
}
.u-mt--6 {
  margin-top: 6px;
}
.u-mt--8d4 {
  margin-top: 8.4px;
}
.u-mt--10 {
  margin-top: 10px;
}
.u-mt--15 {
  margin-top: 15px;
}
.u-mt--20 {
  margin-top: 20px;
}
.u-mt--24 {
  margin-top: 24px;
}
.u-mt--25d6 {
  margin-top: 25.6px;
}
.u-mt--30 {
  margin-top: 30px;
}
.u-mt--35 {
  margin-top: 35px;
}
.u-mt--45 {
  margin-top: 45px;
}
.u-mt--55 {
  margin-top: 55px;
}
.u-mt--60 {
  margin-top: 60px;
}
.u-mt--70 {
  margin-top: 70px;
}
.u-mt--75 {
  margin-top: 75px;
}

.u-mr--5 {
  margin-right: 5px;
}
.u-mr--50 {
  margin-right: 50px;
}

.u-mb--10 {
  margin-bottom: 10px;
}
.u-mb--25d6 {
  margin-bottom: 25.6px;
}
.u-mb--33 {
  margin-bottom: 33px;
}
.u-mb--110 {
  margin-bottom: 110px;
}

.u-ml--20 {
  margin-left: 20px;
}
.u-ml--45 {
  margin-left: 45px;
}
.u-ml--50 {
  margin-left: 50px;
}

.u-padding--15 {
  padding: 15px;
}

.u-pt--20 {
  padding-top: 20px;
}

.u-pt--30 {
  padding-top: 30px;
}

.u-height--38 {
  min-height: 38px;
}

.u-height--210 {
  height: 210px;
}

.u-height--270 {
  height: 270px;
}

.u-height--290 {
  height: 290px;
}

.u-height--290 {
  height: 290px;
}

.u-height--410 {
  height: 410px;
}

.u-width--142 {
  width: 142px;
}

.u-width--310 {
  width: 310px;
}

.u-width--495 {
  width: 495px;
}

.u-bold {
  font-weight: bold !important;
}

.u-bold--700 {
  font-weight: 700;
}

.u-fontSize--33 {
  font-size: 33px;
}

.u-fontSize--43 {
  font-size: 43px;
}

.u-bgc--darkred {
  background-color: #e54829;
}

.u-bgc--tag1 {
  background-color: #6D94BD;
}

.u-category--fashion {
  --icon-color: #7794bb;
  --circle-color: #bdcfe8;
}
.u-category--sweet {
  --icon-color: #ba7c8e;
  --circle-color: #eec7d1;
}
.u-category--meal {
  --icon-color: #c3a76e;
  --circle-color: #f7e0b4;
}
.u-category--info {
  --icon-color: #94af6d;
  --circle-color: #cadcaf;
}
.u-category--ticket {
  --icon-color: #79afb0;
  --circle-color: #b3d9da;
}

.u-color--fashion {
  background: #7794bb;
}
.u-color--sweet {
  background: #ba7c8e;
}
.u-color--meal {
  background: #c3a76e;
}
.u-color--info {
  background: #94af6d;
}
.u-color--ticket {
  background: #79afb0;
}
.u-color--blue {
  color: #88a8d1 !important;
}

.u-center {
  text-align: center;
}

.u-z--1 {
  z-index: 1;
}

.u-al--center {
  align-items: center;
}

.u-bg__decoWrap {
  width: 1000px;
  position: relative;
  margin: 0 auto;
  pointer-events: none;
}

.u-bg__deco--1 {
  width: 460px;
  position: absolute;
  top: 155px;
  left: -140px;
  -o-object-fit: cover;
     object-fit: cover;
}
.u-bg__deco--2 {
  width: 248px;
  position: absolute;
  top: -45px;
  right: -140px;
  -o-object-fit: cover;
     object-fit: cover;
}
.u-bg__deco--3 {
  height: 125px;
  position: absolute;
  top: 65px;
  left: -350px;
  -o-object-fit: cover;
     object-fit: cover;
}