// foundation
@use "foundation/variable";
@use "foundation/mixin";
@use "foundation/reset";
@use "foundation/base";

// layout
@use "layout/header" as l-header;
@use "layout/main";
@use "layout/footer";

//component
@use "object/component/btn";
@use "object/component/card";
@use "object/component/globalNav";
@use "object/component/img";
@use "object/component/sectionTitle";
@use "object/component/utilityLink";
@use "object/component/linkText";
@use "object/component/relatedSite";
@use "object/component/icon";
@use "object/component/text";

//project
@use "object/project/hero";
@use "object/project/event";
@use "object/project/shop";
@use "object/project/header" as p-header;

//utility
@use "object/utility/gap";