@use "../../foundation/variable" as v;

.c-btn {
  &__shadow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 28px;
    font-size: 14px;
    font-weight: 700;
    color: v.$color-main;
    background-color: #FFF;
    border-radius: 60px;
    border: 1px solid v.$color-main;
    box-shadow: 3px 3px 0 v.$color-main;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
      box-shadow: none;
      transform: translate(3px, 3px);
      text-decoration: underline;
    }
  }
}