@use "../../foundation/variable" as v;

svg.feather-chevron-right {
  width: 20px;
  height: 20px;
  stroke-width: 1.5px;
  color: v.$color-main;
}

svg.feather-globe,
svg.feather-menu {
  width: 28px;
  height: 28px;
  color: v.$color-textMain;
}

svg.feather-map-pin {
  width: 28px;
  height: 28px;
  color: v.$color-textMain;
}

.c-icon {
  color: #fff;
  stroke-width: 3;

  &--clock {
    width: 38px;
    height: 38px;
    padding: 5px;
    color: #fff;
    stroke-width: 2;
    background-color: #4b91ca;
    border-radius: 50%;

  }
}