@use "../../foundation/variable" as v;

.c-utilityLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;

  &:hover {
    color: v.$color-main;
  }

  &:hover svg.feather-globe,
  &:hover svg.feather-map-pin,
  &:hover svg.feather-menu,
  &:hover .c-linkText__utility {
    color: inherit;
  }
}