.u-mt {
  &--4 {
    margin-top: 4px;
  }

  &--15 {
    margin-top: 15px;
  }
}

.u-mr {
  &--5 {
    margin-right: 5px;
  }

  &--50 {
    margin-right: 50px;
  }
}

.u-ml {
  &--20 {
    margin-left: 20px;
  }

  &--50 {
    margin-left: 50px;
  }
}