.u-mt {
  &--4 {
    margin-top: 4px;
  }

  &--4d8 {
    margin-top: 4.8px;
  }

  &--6 {
    margin-top: 6px;
  }

  &--8d4 {
    margin-top: 8.4px;
  }

  &--10 {
    margin-top: 10px;
  }

  &--15 {
    margin-top: 15px;
  }
}

.u-mr {
  &--5 {
    margin-right: 5px;
  }

  &--50 {
    margin-right: 50px;
  }
}

.u-ml {
  &--20 {
    margin-left: 20px;
  }

  &--50 {
    margin-left: 50px;
  }
}