.p-event {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
  }

  &__card--scroll {
    width: 1000px;
    overflow-x: auto; 
    padding-bottom: 8px;
  }

  &__cardList {
    display: flex;
    gap: 20px;
    min-width: max-content;

    &--item {
      padding: 5px;
      flex-shrink: 0;
    }
  }
}

.p-eventTitle__wrap {
  display: flex;
  flex-direction: column;
}

.p-eventBtn__wrap {
  display: flex;
  gap: 10px;
}