.p-hero {
  position: relative;
}

.p-hero img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.p-hero__content {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, .3);
}