@use "../../foundation/variable" as v;

.p-popupShop {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
  }

  &__tabs {
    display: flex;
    gap: 10px;
    border-bottom: 2px solid v.$color-main;

  }

  &__tab {
    flex: 1;
    width: 495px;
    text-align: center;
    cursor: pointer;
    color: #FFF;
    font-weight: bold;
    line-height: 1.2;
    padding: 11.2px;
    background-color: v.$color-main;
    border-radius: 10px 10px 0 0;

  }

  &__card {
    gap: 20px;
  }

  &__card--tab {
    width: 1000px;
    min-height: 45px;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    padding: 11.2px;
    background-color: v.$color-main;
    border-radius: 10px 10px 0 0;
  }

  &__card--scroll {
    width: 1000px;
    overflow-x: auto;
    padding-bottom: 8px;
  }

  &__cardList {
    display: flex;
    gap: 20px;
    min-width: max-content;
  }

  &__cardItem {
    flex-shrink: 0;
  }

  &__card {
    display: flex;
    width: 450px;
    height: 185px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(77, 77, 77, 0.3);
    background: #F5F5F5;
  }

  &__imgWrap {
    width: 153px;
    height: 153px;
  }

  &__infoWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}