.l-header {
  display: flex;
  justify-content: center;

  &__top {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
    height: 65px;

    &--left {
      display: flex;
    }
  }
}

.l-headerInner {
  display: flex;
  flex-direction: column;
}